@media (max-width: 1024px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        gap: 15px;
    }
    
    .logosony{
        max-width:100px;
        max-height:50px;
        width: auto;	
        height: 10px;
    }
    .logoThe{
        max-width:100px;
        max-height:50px;
        width: auto;	
        height: 10px;
    }

    .cabecalho .menu li a{
        padding: 15px;
    }
    .home .infos{
        padding: 30px;

    }
    .home .infos .titulo{
        font-size: 40px;
    }

    .compreJa .cartao{
        width: 70%;
    }
}